:root{
    --primary-color:#1B1E5F;
    --secondary-color:#00B5D5 ;
    --accent1-color:#000000;
    --accent2-color:#FFFFFF ;
    --heading-font:"Nunito",sans-serif;
    --body-font:"Nunito",sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    background-color:var(--primary-color) ;
    color:var(--accent2-color) ;
}

body{
    font-family:var(--body-font) ;
    color:var(--accent1-color) ;
    font-weight: 400;
}

header,main,footer {
  width:840px;
  margin:0 auto;
}

h1,h2 {
    font-family:var(--heading-font);
    color:var(--primary-color);
    font-weight: 700;
}

nav,p,section,article{
    margin: 16px;
    padding:8px;
}


.socialmedia a{
    text-decoration: none;
}

.hero{
  position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 20px;
    width:100%;
    padding:16px;
    text-align:center;
    opacity:0.7;
    background-color:var(--accent1-color) ;
    color:#FFF;
    font-weight: 700;
}
.hero article {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-width: 600px;
}

.hero article img {
  width: 150px;
  height: auto;
 
}

.socialmedia img{
    width: 50px;
    height: auto;
}



