:root{
    --nav-background-color:darkblue;
    --aside-background-color:white;
    --heading-color:darkblue;
    --p-color:black;
    --nav-color:white;
    --nav-padding:10px;
    --a-padding:20px;
    --img-padding:2px;
    --aside-padding:0;
    --nav-display:block;
    --main-max-width:90%;
    --img-height:auto;
    --img-border:1px solid black;
    --img-border-shadow: 0 0 30px gray;
    --aside-width:auto;
    --aside-margin:auto;
    --aside-border:5px;
    --img-width:200px;
    --footer-margin-top:20px;
    --footer-border-top:10px;
    --footer-text-align:center;
}

nav{
    background-color:var(--nav-background-color);
    padding:var(--nav-padding)
}

nav a{
    color: var(--nav-color);
    display: var(--nav-display);
    padding: var(--a-padding);
}

h1{
    color: var(--heading-color);
}

main{
    max-width: var(--main-max-width);
}

main img{
    height:var(--img-height);
    border:var(--img-border);
    padding: var(--img-padding);
    box-shadow:var(--img-border-shadow);
}

p{
    padding:var(--aside-padding);
}

aside{
    width:var(--aside-width);
    margin:var(--aside-margin);
    border:var(--aside-border);
    padding:var(--aside-padding);
    background-color:var(--aside-background-color);
    color:var(--heading-color);
}

aside p{
    color:var(--p-color);
}

aside img{
  width: var(--img-width);
  height: var(--img-height);
}

footer{
    margin-top: var(--footer-margin-top);
    border-top: var(--footer-border-top); 
    text-align: var(--footer-text-align);
}